.wrapper {
    background-color: rgba(237, 147, 147, 0.336);
    border: 1px solid #000;
    border-radius: 10px;
    margin: auto;
    width: 49%;
    float: left;
    margin-left: 6px;
  }
.btn{
    margin: 5px;
    border: 2px solid black;
    border-radius: 12px 10px;
    padding: 5px;
}
.btn:hover{
    background-color: rgb(206, 125, 125);
}